<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mybase.libb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application>

        <activity
            android:name="com.mybase.libb.ui.web.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

    </application>

</manifest>